#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Icon[en_IN]=gnome-panel-launcher
Name[en_IN]=Aarohi Impex Database
Type=Application
Terminal=true
Exec= sqlitebrowser Aarohi.db
Name=Aarohi Impex Databanel-ase
Icon=gnome-panel-launcher
StartupNotify=true
